
body{
    background-color: aqua;
    background-image: url("https://i.pinimg.com/originals/9c/b6/19/9cb6195de12c10ac094a3190db2ce6c2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}

header{
    background-color: rgb(15, 6, 66);
    text-align: center;
    color: rgb(124, 27, 214);
    display: flex;
    justify-content: space-between;
    height: 90px;
}

p{
    color: rgb(182, 211, 223);
    font-size: 25px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 23px;

}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 
nav li{
    display:inline-block;
    width:50px;
    padding:10px 10px;
    background-color:#000;
    border:1px solid rgb(231, 213, 213);
    border-style: double;
    text-align:center;
    color:#fff;
    height: 20px;
}
nav li:hover{
    background-color:#fff;
    color:#000;
}

#irys{
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Polux a{
    font-size: 25px;
    color: rgb(218, 111, 35);
}

#Arturo a{
    font-size: 25px;
    color: rgb(192, 102, 38);
}

#Aldebaran a{
    font-size: 25px;
    color: rgba(196, 94, 21, 0.87);
}

#Rigel a{
    font-size: 25px;
    color: rgb(238, 228, 222);
}

#Pistola a{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

#Antares a{
    font-size: 25px;
    color: rgb(214, 104, 35);
}

#Betel a{
    font-size: 25px;
    color: rgb(248, 92, 2);
}

#Mu a{
    font-size: 25px;
    color: rgb(224, 114, 45);
}

#VY a{
    font-size: 25px;
    color: rgb(255, 72, 0);
}

#UY a{
    font-size: 25px;
    color: rgb(255, 139, 7);
}

footer{
    background-color: rgb(23, 23, 80);
    width: 100%;
    text-align: center;
    bottom: 0;
    color: rgb(233, 93, 93);
    position: absolute;
}

img{
    border-style:groove;
    border-color: rgb(11, 11, 218);
}